.TodoWrapper {
  border: 1px solid black;
  max-height: 50%;
  text-align: center;
  background-color: #1c173f;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  overflow-y: auto;
  position: relative;
  scrollbar-gutter: stable;
}

.TodoWrapper h2 {
  color: #f6ffff;
  letter-spacing: 3px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #814af4;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1180px) {
  .TodoWrapper {
    width: 60%;
    max-height: 70%;
  }
}
